*.aux
*.log
*.synctex.gz
*.idx
*.tdo
*.toc
*.bbl
*.bcf
*.blg
*.run.xml
*.fdb_latexmk
*.fls
*.lof
*.lot

**/Protokoll.pdf
V61-HeNe-Laser/table_backup.py
V61-HeNe-Laser/__pycache__/table.cpython-36.pyc
V61-HeNe-Laser/.table.py.swp
